<div id="page-wrapper homepage">

	<!-- Inner -->
	<section id="banner">
		<div class="inner">
			<header>
				<h1 class="hero">Unebula</h1>
			</header>
		</div>
	</section>

	<!-- Carousel -->
		<section class="carousel">
			<div class="reel">

				<article>
				<%= image_tag("pic01.jpg", class: "image featured") %>
					<header>
						<h3><a href="#">Pulvinar sagittis congue</a></h3>
					</header>
					<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
				</article>

				<article>
					<%= image_tag("pic02.jpg", class: "image featured") %>
					<header>
						<h3><a href="#">Fermentum sagittis proin</a></h3>
					</header>
					<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
				</article>

				<article>
					<%= image_tag("pic03.jpg", class: "image featured") %>
					<header>
						<h3><a href="#">Sed quis rhoncus placerat</a></h3>
					</header>
					<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
				</article>

				<article>
					<%= image_tag("pic04.jpg", class: "image featured") %>
					<header>
						<h3><a href="#">Ultrices urna sit lobortis</a></h3>
					</header>
					<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
				</article>

				<article>
					<%= image_tag("pic02.jpg", class: "image featured") %>
					<header>
						<h3><a href="#">Varius magnis sollicitudin</a></h3>
					</header>
					<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
				</article>

				<article>
					<%= image_tag("pic04.jpg", class: "image featured") %>
					<header>
						<h3><a href="#">Pulvinar sagittis congue</a></h3>
					</header>
					<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
				</article>

				<article>
					<%= image_tag("pic02.jpg", class: "image featured") %>
					<header>
						<h3><a href="#">Fermentum sagittis proin</a></h3>
					</header>
					<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
				</article>

				<article>
					<%= image_tag("pic03.jpg", class: "image featured") %>
					<header>
						<h3><a href="#">Sed quis rhoncus placerat</a></h3>
					</header>
					<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
				</article>

				<article>
					<%= image_tag("pic04.jpg", class: "image featured") %>
					<header>
						<h3><a href="#">Ultrices urna sit lobortis</a></h3>
					</header>
					<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
				</article>

				<article>
					<%= image_tag("pic05.jpg", class: "image featured") %>
					<header>
						<h3><a href="#">Varius magnis sollicitudin</a></h3>
					</header>
					<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
				</article>

			</div>
		</section>


<%= javascript_include_tag "jquery.min.js", "jquery.dropotron.min.js", "jquery.scrolly.min.js", "jquery.onvisible.min.js", "skel.min.js", "util.js", "main.js" %>

