<!-- Nav -->
<nav id="nav">
	<ul>
		<li><a href="index.html">Home</a></li>
      <% if astronomer_signed_in? %>
      
        <li> <%= link_to "Community", astronomers_path %></li>
        <li> <%= link_to "Settings", edit_astronomer_registration_path %></li>
        <li><%= link_to "About", about_path %></li> 
        <li> <%= link_to "Sign Out", destroy_astronomer_session_path, method: :delete, class: "btn btn-danger" %></li>
        
      <% else %>
      
        <li><%= link_to "About", about_path %></li> 
        <li> <%= link_to "Log In", new_astronomer_session_path, method: :get, class: "btn btn-success nav" %></li>
        
      <% end %>
	</ul>
</nav>
