<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
</head>
<body>
	<header>
		<%= render 'layouts/nav' %>
	</header>

	<main>
  	<%= yield %>
	</main>

	<footer>
		<%= render 'layouts/footer' %>
	</footer>

<!-- Scripts -->
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
